/*typography*/
body {
  font-family: 'Nunito', sans-serif;

}

h1, h2, h3, h4, h5, a {
  color: #5484A4;
}
a {
  text-decoration: none;
  font-weight: 700;
}
p {
  color: #6C808B;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
}

h1 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 400;
}

/*hero section*/
.hero {
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 95px 50px;

}
.button {
    background-image: linear-gradient(160deg,#3acfff,#3DB2FF 90%);
      border-radius: 61px;
      padding: 24px 38px;
      border: none;
      color: white;
      text-align: center;
      display: inline-table;
      margin: 4px 2px;
      font-size: 27px;
}

i {
  font-size: 30px;
}

.hero-container {
  background-color: white;
  opacity: .8;
  padding: 30px;
  margin-top: -58px;
}
/*testimonial section*/
.testimonials {
  text-align: center;
  padding: 75px;
}

.customer {
  color: #5484A4;
  font-weight: bold;
}


.circle {
	width: 175px;
	height: 175px;
	background: #D3D3D3;
	-moz-border-radius: 125px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
  margin: 0 auto;

}

.see-more {
  font-size: 17px;
  margin: 30px;
}


/*gradient section*/
.gradient {
  background: linear-gradient(to right, #E4EEF4, #B0CFE1);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;


}
